###################################################################################################
#  _USER_VARIABLE
###################################################################################################
[gcode_macro _USER_VARIABLE]
description: Helper: Contains User defined printer variables
variable_homing: {}
variable_park: {}
variable_purge: {}
variable_filament: {}
variable_prime: {}
gcode:
    ## ----- Homing Values ------------------------------------------------------------------------   
    {% set home_offset_x =      0 %}
    {% set home_offset_y =      21.5 %}
    {% set home_hop_z =         10 %}
    {% set home_speed_hop_z =   600 %}
    {% set home_speed_z =       8000 %}
    {% set home_accel_z =       1000 %}
    {% set home_current_z =     0.5 %}   

    {% set homing_struct = {'probe_offset'  :{'x': home_offset_x, 
                                              'y': home_offset_y},
                            'hop_z'         : home_hop_z,
                            'speed_hop_z'   : home_speed_hop_z,
                            'current_z'     : home_current_z,
                            'accel_z'       : home_accel_z,
                            'speed_z'       : home_speed_z} %}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=homing VALUE="{homing_struct}"


    ## ----- Park Position Values -----------------------------------------------------------------
    {% set park_speed = 12000 %}

    {% set park_struct = {'bed'    : {'x': 175, 'y': 175, 'z': 20},
                          'center' : {'x': 175, 'y': 175, 'z': 160},
                          'front'  : {'x': 175, 'y': 20,  'z': 20},
                          'rear'   : {'x': 175, 'y': 340, 'z': 160},
                          'pause'  : {'x': 50,  'y': 50,  'dz': 20},
                          'speed'  : park_speed} %}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=park VALUE="{park_struct}"

    ## ----- Purge Values -------------------------------------------------------------------------
    {% set purge_brush_start_x =    75 %}          
    {% set purge_brush_end_x =      125 %}            
    {% set purge_brush_start_y =    351 %}          
    {% set purge_brush_end_y =      355 %}            
    {% set purge_pos_z =            -0.5 %}                
    {% set purge_cnt =              7 %}                 

    {% set purge_struct = {'start' : {'x': purge_brush_start_x, 'y':purge_brush_start_y, 'z':purge_pos_z},
                           'end'  :  {'x': purge_brush_end_x, 'y':purge_brush_end_y, 'z':purge_pos_z},
                           'cnt'         : purge_cnt} %}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=purge VALUE="{purge_struct}"

    ## ----- Filament Values ----------------------------------------------------------------------
    {% set filament_load_distance =     60 %} 
    {% set filament_unload_distance =   60 %} 
    {% set filament_load_speed =        900 %}  
    {% set filament_retract_speed =     2400 %}  

    {% set filament_struct = {'load_distance'   : filament_load_distance,
                              'unload_distance' : filament_unload_distance,
                              'load_speed'      : filament_load_speed,
                              'retract_speed'   : filament_retract_speed} %}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=filament VALUE="{filament_struct}"


    {% set prime_start_xy = [5.0, 30.0] %}   ; x&y start coordinates of prime line
    {% set prime_z = 0.25 %}                ; default prime layer hight
    {% set prime_dir = 'Y+' %}              ; direction of prime line (X+, X-, Y+, Y-)
    {% set prime_spacing = 2 %}           ; distance between line, move will allways positive
    {% set prime_lenght = 220 %}            ; length of prime line
    {% set prime_seg = 11 %}                ; segments in that the prime line is splitted
    {% set prime_extrude_per_seg = 2 %}     ; amount of filament extruded per segment
    {% set prime_speed = 3000 %}

    {% set prime_struct = {'pos'             : {'x':prime_start_xy[0], 'y':prime_start_xy[1], 'z':prime_z},
                           'dir'             : prime_dir,
                           'spacing'         : prime_spacing,
                           'length_per_seg'  : prime_lenght / prime_seg,
                           'seg'             : prime_seg,
                           'extrude_per_seg' : prime_extrude_per_seg,
                           'speed'           : prime_speed } %}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=prime VALUE="{prime_struct}"



###################################################################################################
#  USER_INIT_GLOBALS (Delayed)
###################################################################################################
[delayed_gcode USER_INIT_GLOBALS]
# This runs once at startup and initializes all macros.
initial_duration: 1
gcode:
    _USER_VARIABLE
    LED_STATUS_READY
    LOG_INFORMATION MSG="Init DONE" 

    
  