[gcode_macro _USER_VARIABLE]
description: Helper: Contains User defined printer variables
variable_homing: {}
gcode:
    {% set user_home_offset_x = 0 %}
    {% set user_home_offset_y = 21.5 %}
    {% set user_home_hop_z = 10 %}
    {% set user_home_speed_hop_z = 600 %}
    {% set user_home_speed_z = 8000 %}
    {% set user_home_accel_z = 1000 %}
    {% set user_home_current_z = 0.5 %}   

    {% set homing_struct = {'probe_offset'  :{'x': user_home_offset_x, 
                                              'y': user_home_offset_y},
                            'hop_z'         : user_home_hop_z,
                            'speed_hop_z'   : user_home_speed_hop_z,
                            'current_z'     : user_home_current_z,
                            'accel_z'       : user_home_accel_z,
                            'speed_z'       : user_home_speed_z} %}

    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=homing VALUE="{homing_struct}"



[delayed_gcode USER_INIT_GLOBALS]
# This runs once at startup and initializes all macros.
initial_duration: 1
gcode:
    _USER_VARIABLE
    led_status_ready
    LOG_INFORMATION MSG="Init DONE" 

    
  